*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    /* outline: 2px solid coral; */
}

body{
    display: flex;
    flex-direction: column;
    background-color: #202124;
}

body > *{
    flex: 1;

}

.nav{
    display: flex;
    justify-content: end;
    padding: 20px 30px;
}

.navbar{
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
}

.list3{
    border: 2px solid white;
    height: 30px;
    width: 30px;
}

.list4 img{
    border-radius: 50px;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 300px;
}

.cont-google img{
    display: inline-block;
    padding: 20px;
    height:140px; 
    width:300px;
}

.search-txt{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 465px;
    flex: 1;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search textarea{
    border-radius: 100px;
    margin: 15px;
    height: 60px;
    width: 600px;
    background-color: transparent;
    font-size: 22px;
    padding: 12px 40px;
}

.links-down{
    display: flex;
    justify-content: center;
    font-size: 15px;
    flex-wrap: wrap;

}

.links-down a{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    /* font-size: 19px; */
    text-decoration: none;
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    cursor: pointer;
}


.para-down{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 10px;
    margin: 10px;
    color: #e8eaed;
    font-size: 13px;
    flex: 1;
}


.para-down a{
    color: #8ab4f8;
}


.footer{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.321);
    /* border-radius: 5px; */
}

.down1{
    display: flex;
    padding: 10px 40px ;
    background-color: rgba(0, 0, 0, 0.321);
    border-bottom: 1px solid #3c40431b ;
}
.down2{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px ;
    background-color: rgba(0, 0, 0, 0.321);
}


.left-down2{
    display: flex;
    flex-direction: row;
    padding: 10px 20px ;
}

.left-down2 ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}



